extends layout
block content
 h2.page-header
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg} 
 form(method='POST' action='/insert')
    .form-group
    label First Name:
    input.form-control(type='text', placeholder='Enter first name' name='firstname')
    .form-group
    label Last Name:
    input.form-control(type='text', placeholder='Enter last name' name='lastname')
    form-group
    label Email:
    input.form-control(type='email', placeholder='Enter Email' name='email')
    input.btn.btn-primary(type='submit', name=submit, value='Insert')
    div.row
    div.col-sm-12
     h1 View Student Detail       
     #[a.btn.btn-info(href="/viewstudent") view Student]
     div.jumbotron
      table.table.table-dark.table-striped
        thead
          tr
          th ID 
          th First Name
          th Last Name
          th Email
          th Action
        tbody
         if studentsData
          each results, i in studentsData
           tr
           td #{results.id}
           td #{results.firstname}
           td #{results.lastname}
           td #{results.email}
           td #[a.delete(href="/delete/" + results.id) Delete]